# ignore 'system' files
.git
.svn
.hg
CVS
.DS_Store
Thumbs.db
# END

# ignore irrelevant files
._*
.vscode
# END

# ignore 'files'
*.txt
.env
# END

# ignore 'folders'
node_modules
dist
# END

# exclude ignored files

# END

# ignore dotenv files, and exclude env vault
.env*
.flaskenv*
!.env.project
!.env.vault