<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scacchi Server</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../images/favicon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <h2 class="font-sg font-500">Project Scacchi</h2>
    <p class="font-sg font-italic">The server is up and running 👍🏽</p>
</body>

</html>